.name, .job {
	text-align: right;
	margin-right: 60px;
	
}
/*
.input-color {
    position: relative;
}

.color-box {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 20px;
    top: 5px;
}
*/
.box{
	width:60px;
	height:60px;
}
.blue{
	background:#02b3e4;
}

.black{
	background:#2d3c49;
}
.grey{
	background:#7d97ad;
}
.div1{
	margin-right: 10px;
	margin-left:80px;
}

.logo {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: 200px;
}
.bodyy {
	display: flex;

}
/*header {
	padding: 30px 60px 20px 200px;
}
*/
.stline {
	margin-left: 200px;
	margin-right: 60px;
	height: 2px;
	background-color: grey solid;
}
.body-image {
	width: 89%;
	height: 300px;
	padding: 30px 60px 20px 50px;

}
.title {
	
	padding: 10px 60px 10px 200px;

}


.app, .sunflower, .bookeh {
	width: 270px;
	height: 150px;
}

.footer {
	padding: 0px 0px 10px 170px;
	display: flex;
	flex-wrap: wrap;
	
}

figcaption {
    display: block;
    text-align: center;
}