.name {
	text-align: right;
	margin-right: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px

	
}

.job {
	text-align: right;
	margin-right: 60px;
	font-family: 'Merriweather Sans', sans-serif;
	
}

.box{
	width:60px;
	height:60px;
}
.text2{
	font-size: 18px;
	color: #686868;
}

.blue{
	background:#02b3e4;
}

.black{
	background:#2d3c49;
}

.grey{
	background:#7d97ad;
}

.div1{
	margin-right: 10px;
	margin-left:80px;
}

.logo {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: 200px;
}

.bodyy {
	display: flex;

}

.stline {
	margin-left: 200px;
	margin-right: 60px;
	height: 2px;
	background-color: #7d97ad;	

}

.body-image {
	width: 985px;
	height: 350px;
	padding: 30px 60px 20px 50px;

}

.title {
	
	padding: 0px 0px 0px 200px;
	color: #888888;
	font-size: 30px;

}


.app, .sunflower, .bookeh {
	width: 307px;
	height: 200px;
}

.footer {
	padding: 0px 0px 10px 170px;
	display: flex;
	flex-wrap: wrap;
	
}

figcaption {
    display: block;
    text-align: center;
}
.text1 {
	font-size: 30px;
	
}

figure { 
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 15px;
    margin-right: 15px;
}
.footer {
	margin-left: 20px;
}

.header {
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	
}